<h3 class="ui header">{{t "forms.i-i-s-smart-mogila-квартал-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationObject "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-smart-mogila-квартал-e.номер-caption")
      data-test-i-i-s-smart-mogila-квартал-e------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "номер" "messages")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.площадь
      class=(if (v-get validationObject "площадь" "isInvalid") "error")
      label=(t "forms.i-i-s-smart-mogila-квартал-e.площадь-caption")
      data-test-i-i-s-smart-mogila-квартал-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "площадь" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-smart-mogila-квартал-e.кладбище-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.кладбище
      relationName="кладбище"
      projection="КладбищеL"
      title=(t "forms.i-i-s-smart-mogila-квартал-e.кладбище-caption")
      readonly=readonly
      componentName="кладбищеLookup"
      data-test-i-i-s-smart-mogila-квартал-e---------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "кладбище" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.кладбище.название
      class=(if (v-get validationObject "кладбище.название" "isInvalid") "error")
      label=(t "forms.i-i-s-smart-mogila-квартал-e.кладбище.название-caption")
      data-test-i-i-s-smart-mogila-квартал-e------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "кладбище.название" "messages")}}
  </div>
</form>